[user]
	email = enrico.bacis@gmail.com
	name = enricobacis
[push]
	default = simple
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
