## vim

# vim-plug script directory
/vim/.vim/autoload
# vim-plug plugin directory
/vim/.vim/plugged
# netrw directory history
/vim/.vim/.netrwhist

## fish

# universal variable daemon
/fish/.config/fish/fishd.*
# fish history
/fish/.config/fish/fish_history
# fundle functions
/fish/.config/fish/functions/fundle.fish
# fundle repositories
/fish/.config/fish/fundle
# fish local settings
/fish/.config/fish/local.fish
